body {
  background-color: #87CEEB;
  margin: 0;
  height: 0;
}

#container {
  width: 1280px;
  height: 100%;
  margin: auto;
  padding-top: 30px;
}

#canvas {
  position: absolute;
  top: 50%;
  margin-top: -360px;